.portfolio-top {
  padding: 30px 0;
  position: relative;
  .bg-img {
    position: absolute;
    right: -20px;
    top: -100px;
    width: 800px;
    z-index: 0;
  }
  .portfolio-top-title {
    text-align: center;
    transform: scale(1);
  }
  &-links {
    z-index: 5;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid #3b42524d;
    padding-bottom: 40px;
    .link {
      z-index: 5;
      text-decoration: none;
      color: #3b4252;
      font-weight: 500;
      font-size: 16px;
      border-bottom: 2px dotted;
      transition: 0.3s;
      &:hover {
        color: #45a6ff;
      }
    }
  }
}

@media (max-width:1000px) {
  .portfolio-top{
    .bg-img{
      width: 600px;
    }
  }
}

@media (max-width: 767px) {
  .portfolio-top {
    padding: 20px 0;
    .bg-img{
      width: 460px;
    }
    &-links {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-bottom: 30px;
    }
  }
  .blog-top {
    .portfolio-top-links {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
