.marketing-hero{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  &-info{
    width: 44%;
  }
  &-img{
    width: 50%;
    img{
      width: 100%;
    }
  }
}

@media (max-width:767px) {
  .marketing-hero{
    align-items: normal;
    &-info{
      width: 70%;
      margin-top: 80px;
    }
    &-img{
      width: 60%;
      img{
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width:600px) {
  .marketing-hero{
    &-info{
      width: 80%;
      margin-top: 60px;
    }
    &-img{
      width: 60%;
      img{
        transform: scale(1.4);
      }
    }
  }
}
@media (max-width:500px) {
  .marketing-hero{
    &-info{
      width: 80%;
      margin-top: 40px;
    }
    &-img{
      width: 40%;
      img{
        transform: scale(1.8) translate(-30px,40px);
      }
    }
  }
}
@media (max-width:430px) {
  .marketing-hero{
    &-info{
      width: 80%;
      margin-top: 40px;
    }
    &-img{
      width: 40%;
      img{
        transform: scale(2) translate(-20px,40px);
      }
    }
  }
}
@media (max-width:400px) {
  .marketing-hero{
    &-info{
      width: 90%;
      margin-top: 40px;
    }
    &-img{
      width: 30%;
      img{
        transform: scale(2.5) translate(-20px,50px);
      }
    }
  }
}