$black: #3b4252;
$white: #ffffff;
$primary: #45a6ff;
$primary-hover: #2c99fd;
$primary-active: #1589f4;
$gray: #9ca2ae;
$light-gray: #f8f8f8;
$bg-gray: #f3f3f3;
$bg-black: #1d2434;
$text-gray: #777b87;
