@import "../../styles/variables";

.portfolio__top {
  padding-top: 80px;
}

.portfolio__top__container {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: -230px;
    right: -500px;
    z-index: -1;

    width: 1263px;
    height: 842px;

    background-image: url("../../assets/images/pixels.svg");
    background-size: contain;
  }
}

.portfolio__heading {
  margin: 0;
  margin-bottom: 36px;

  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
}

.portfolio__nav {
  display: block;
  padding-bottom: 36px;

  text-align: center;

  border-bottom: 1px solid rgba($color: $black, $alpha: 0.2);
}

.projects {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project {
  padding: 150px 0;

  &:nth-child(2n) {
    background-color: $white;
  }

  & + &:nth-child(2n - 1) {
    background-image: url("../../assets/images/pixels.svg");
    background-repeat: no-repeat;
    background-size: 1263px 842px;
    background-position: -240px;
  }
}

.projects__constructor {
  padding: 150px 0;

  &--2n {
    background-color: $white;
  }
}

@media only screen and (max-width: 550px) {
  .portfolio__top__container {
    position: relative;

    &::before {
      top: 150px;
      right: -190px;

      width: 596px;
      height: 397px;
    }
  }

  .portfolio__top {
    padding-top: 50px;
    padding-bottom: 20px;

    border-bottom: none;
  }

  .portfolio__heading {
    margin-bottom: 14px;

    font-size: 22px;
    line-height: 22px;
  }

  .portfolio__nav {
    padding-bottom: 0;

    border-bottom: none;
  }

  .project {
    padding-top: 36px;
    padding-bottom: 50px;

    & + &:nth-child(2n - 1) {
      background-image: url("../../assets/images/pixels.svg");
      background-repeat: no-repeat;
      background-size: 596px 397px;
      background-position: bottom;
    }
  }

  .projects__constructor {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}
