@import "../../styles/variables";

.customers {
  padding-top: 150px;
  padding-bottom: 80px;
}

.customers__container {
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "heading . navigation"
    "swiper swiper swiper";
  row-gap: 75px;

  &::after {
    content: "";

    position: absolute;
    top: -150px;
    left: -220px;
    z-index: -2;
    transform: scaleX(-1);

    width: 1263px;
    height: 842px;

    background-image: url("../../assets/images/pixels.svg");
    background-size: contain;
    background-repeat: no-repeat;

    user-select: none;
    pointer-events: none;
  }
}

.customers__heading {
  margin: 0;
  grid-area: heading;

  font-size: 36px;
  line-height: 36px;
  font-weight: 800;

  span {
    font-weight: 300;
  }
}

.customers__navigation {
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 10px;
  grid-area: navigation;
}

.customers__inner {
  position: relative;

  padding: 50px;
  margin: -50px;
  overflow: hidden;
  grid-area: swiper;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 50px;
    height: 100%;

    background: linear-gradient(
      90deg,
      rgba($color: $bg-gray, $alpha: 1),
      rgba($color: $bg-gray, $alpha: 0)
    );
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    width: 50px;
    height: 100%;

    background: linear-gradient(
      -90deg,
      rgba($color: $bg-gray, $alpha: 1),
      rgba($color: $bg-gray, $alpha: 0)
    );
  }
}

.customers__swiper {
  overflow: visible !important;
}

.customers__swiper__slide {
  max-width: 352px;
}

.customer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 235px;

  img {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .customers {
    padding-top: 48px;
    padding-bottom: 58px;
  }

  .customers__container {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading"
      "swiper"
      "navigation";
    row-gap: 28px;

    text-align: center;
  }

  .customers__swiper {
    margin-bottom: 8px;
  }

  .customers__navigation {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  .customer {
    height: 140px;

    img {
      max-width: 140px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .customers__heading {
    font-size: 22px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 425px) {
  .customer {
    height: 88px;

    img {
      max-width: 60px;
    }
  }
}
