.contacts {
  padding: 100px 20px;
  position: relative;
  // overflow: hidden;
  .contacts-bg {
    position: absolute;
    right: 0;
    top: -50px;
    height: calc(100% + 50px);
    width: 600px;
    z-index: 0;
  }
  .contacts-info {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info-title {
      z-index: 5;
      margin-bottom: 10px;
      font-size: 46px;
    }
    .info-summary {
      z-index: 5;
      font-size: 22px;
      margin: 0;
      margin-bottom: 10px;
    }
    .info-txt {
      z-index: 5;
      margin: 0;
      margin-top: 10px;
    }
    .info-btn {
      z-index: 5;
      margin-top: 30px;
    }
  }
  .contacts-modal {
    background-color: #fff;
    width: 500px;
    padding: 20px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(350%, -50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    .modal-title {
      text-align: center;
      font-size: 36px;
      margin-bottom: 0;
      margin-top: 0;
    }
    .modal-txt {
      text-align: center;
    }
    .close {
      text-align: right;
      font-size: 28px;
      padding: 5px;
      z-index: 99;
      cursor: pointer;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      input,
      textarea {
        width: 100%;
        padding: 12px;
        background-color: #e9e9e9;
        border: 1px solid #e9e9e9;
        color: #3b4252;
        resize: none;
        outline: none;
        border-radius: 4px;
        &:focus {
          border: 1px solid #45a6ff;
        }
      }
      .modal-btn {
        margin-top: 20px;
      }
    }
  }
  .contacts-modal-open {
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 767px) {
  .contacts {
    .contacts-bg {
      width: 400px;
    }
    .contacts-modal{
      padding: 20px 20px;
      width: 360px;
      .modal-title{
        font-size: 28px;
      }
      .modal-txt{
        font-size: 14px;
      }
      form{
        gap: 6px;
        input,textarea{
          font-size: 14px;
          padding: 10px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .contacts {
    .contacts-modal{
      width: 90%;
      .modal-title{
        font-size: 24px;
      }
      .modal-txt{
        font-size: 13px;
      }
      .close{
        font-size: 20px;
      }
    }
    .contacts-bg {
      width: 300px;
    }
    .contacts-info {
      text-align: center;
      .info-title {
        font-size: 36px;
      }
      .info-summary {
        font-size: 18px;
      }
      .info-txt {
        font-size: 14px;
      }
    }
  }
}
