@import "../../styles/variables";

.hero {
  height: calc(100vh - 100px);
  max-height: 1200px;
}

.hero__container {
  position: relative;

  display: flex;
  align-items: center;
  height: 100%;

  &::before {
    content: "";

    position: absolute;
    top: -200px;
    left: -390px;
    transform: rotate(30deg);
    z-index: -3;

    width: 1680px;
    height: 1040px;

    border-radius: 50%;

    background: linear-gradient(84deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(125px);
  }

  &::after {
    content: "";

    position: absolute;
    top: 110px;
    left: calc(50% + 90px);
    z-index: -2;

    width: 1263px;
    height: 842px;

    background-image: url("../../assets/images/pixels.svg");
    background-size: contain;
    background-repeat: no-repeat;

    user-select: none;
    pointer-events: none;
  }
}

.hero__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.hero__info {
  max-width: 600px;
}

.hero__heading {
  margin: 0;
  margin-bottom: 25px;

  font-size: 58px;
  line-height: 58px;
  font-weight: 800;
}

.hero__subheading {
  max-width: 500px;
  margin: 0;
  margin-bottom: 10px;

  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
}

.hero__description {
  margin: 0;
  margin-bottom: 22px;

  font-family: "Circe";
  line-height: 21px;
  color: $text-gray;
}

.hero__image {
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: -1;
  transform: translateY(calc(-50% - 32px));

  pointer-events: none;
  user-select: none;
}

@media only screen and (max-width: 1140px) {
  .hero {
    height: auto;
    max-height: unset;
    padding: 150px 0;
  }

  .hero__container {
    &::before {
      top: -240px;
      left: -390px;

      width: 900px;
      height: 500px;
    }

    &::after {
      width: 790px;
      height: 527px;

      top: -130px;
      left: calc(50% - 180px);
    }
  }

  .hero__info {
    max-width: 500px;
  }

  .hero__heading {
    margin-bottom: 20px;

    font-size: 42px;
  }

  .hero__subheading {
    max-width: 400px;

    font-size: 18px;
  }

  .hero__description {
    margin-bottom: 16px;

    font-size: 14px;
  }

  .hero__image {
    img {
      width: 500px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 880px) {
  .hero {
    padding: 100px 0;
  }

  .hero__info {
    max-width: 390px;
  }
}

@media only screen and (max-width: 770px) {
  .hero__heading {
    font-size: 36px;
    line-height: 36px;
  }

  .hero__subheading {
    max-width: 350px;
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 18px;
  }

  .hero__description {
    font-size: 14px;
    line-height: 14px;
  }

  .hero__image {
    img {
      width: 400px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 660px) {
  .hero__image {
    right: 50px;

    img {
      width: 250px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero__description {
    max-width: 300px;
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    padding-top: 54px;
    padding-bottom: 46px;
  }

  .hero__container {
    &::before {
      top: -62px;
      left: -350px;

      width: 700px;
      height: 435px;
    }

    &::after {
      top: 52px;
      left: 0;

      width: 596px;
      height: 397px;
    }
  }

  .hero__heading {
    max-width: 200px;
    margin-bottom: 16px;

    font-size: 32px;
    line-height: 32px;
  }

  .hero__subheading {
    max-width: 500px;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 16px;
  }

  .hero__description {
    margin-bottom: 22px;

    font-size: 12px;
    line-height: 12px;
  }

  .hero__image {
    top: -46px;
    right: -5px;
    transform: unset;
    z-index: 1;

    pointer-events: unset;
    user-select: unset;

    img {
      width: 200px;
      height: auto;
    }
  }

  .hero__switch {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .hero__image {
    right: -5px;

    img {
      width: 155px;
      height: auto;
    }
  }
}
