@import "../../styles/variables";

.modal {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.modal__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba($color: $black, $alpha: 0.7);
}

.modal__inner {
  position: relative;

  padding: 56px;
  padding-top: 80px;

  background-color: $white;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
}

.modal__button {
  position: absolute;
  top: 36px;
  right: 36px;

  display: flex;
  margin: -5px;
  padding: 5px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .modal__inner {
    position: relative;

    padding: 20px;
    padding-top: 46px;
    padding-bottom: 30px;

    background-color: $white;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
  }

  .modal__button {
    top: 14px;
    right: 14px;
  }
}
