@import "../../styles/variables";

.directions {
  padding-top: 118px;
  padding-bottom: 145px;

  background-color: $white;
}

.directions__container {
  display: grid;
  grid-template-columns: auto 1fr 2px 1fr auto;
  grid-template-areas: "heading . stroke . info";
  align-items: center;

  &::before {
    content: "";

    grid-area: stroke;
    height: 100%;

    background-color: rgba($color: $black, $alpha: 0.2);
  }
}

.directions__heading {
  grid-area: heading;
  margin: 0;

  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  text-transform: uppercase;

  span {
    display: block;
  }

  span:first-child {
    font-size: 18px;
    line-height: 18px;
  }

  span:last-child {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
  }
}

.directions__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  column-gap: 80px;
  row-gap: 28px;
  grid-area: info;
}

@media only screen and (max-width: 1300px) {
  .directions__inner {
    column-gap: 30px;
  }
}

@media only screen and (max-width: 1240px) {
  .directions__heading {
    font-size: 54px;
    line-height: 54px;

    span:first-child {
      font-size: 16px;
      line-height: 16px;
    }

    span:last-child {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 1140px) {
  .directions__heading {
    text-align: center;
  }

  .directions__container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading"
      "info";
    justify-items: center;

    gap: 60px;

    &::before {
      content: none;
    }
  }
}

@media only screen and (max-width: 890px) {
  .directions__inner {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .directions {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .directions__container {
    gap: 30px;
  }

  .directions__heading {
    font-size: 36px;
    line-height: 36px;

    span:first-child {
      font-size: 10px;
      line-height: 10px;
    }

    span:last-child {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .directions__inner {
    gap: 18px;
  }
}
