@import "../../styles/variables";

.project {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &--nav {
    .project__info {
      padding-bottom: 40px;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.project__type {
  display: block;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 14px;

  opacity: 0.5;
}

.project__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
}

.project__description {
  max-width: 500px;
  margin: 0;
  margin-bottom: 22px;

  font-family: "Circe", "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 130%;

  color: $text-gray;
}

.project__anchor {
  padding: 0 !important;

  a {
    display: block;
    padding: 20px 36px;

    color: inherit;
    text-decoration: none;
  }
}

.project__comp {
  position: relative;
  overflow: hidden;
}

.project__comp__macbook {
  max-width: 850px;
  width: 100%;
  height: auto;

  pointer-events: none;
  user-select: none;
}

.project__comp__image {
  position: absolute;
  top: 8%;
  left: 12%;
  z-index: -1;

  width: 76%;
  height: 82%;
  object-fit: cover;
  object-position: top left;
}

@media only screen and (max-width: 990px) {
  .project {
    flex-direction: column-reverse;

    text-align: center;
  }

  .project__button {
    margin: 0 auto;
  }

  .project__anchor {
    margin: 0 auto;
  }

  .project__comp {
    margin-bottom: 40px;
  }

  .project__comp__macbook {
    max-width: 600px;
  }
}

@media only screen and (max-width: 550px) {
  .project {
    &--nav {
      .project__info {
        padding-bottom: 0;
      }
    }
  }

  .project__type {
    margin-bottom: 5px;

    font-size: 12px;
    line-height: 12px;
  }

  .project__title {
    margin-bottom: 5px;

    font-size: 22px;
    line-height: 22px;
  }

  .project__description {
    max-width: 400px;

    font-size: 12px;
    line-height: 130%;
  }
}
