@import "../../styles/variables";

.project {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &--nav {
    .project__info {
      padding-bottom: 40px;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.project__type {
  display: block;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 14px;

  opacity: 0.5;
}

.project__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-transform: uppercase;
}

.project__description {
  max-width: 500px;
  margin: 0;
  margin-bottom: 22px;

  font-family: "Circe", "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 130%;

  color: $text-gray;
}

.project__comp {
  position: relative;
  overflow: hidden;
}

.project__comp__macbook {
  pointer-events: none;
  user-select: none;
}

.project__comp__image {
  position: absolute;
  top: 8%;
  left: 12%;
  z-index: -1;

  width: 76%;
  height: 82%;
  object-fit: cover;
  object-position: top left;
}
