.qwiz2-section{
  padding: 0 20px 50px;
  .cards{
    display: flex;
    gap: 40px;
    .card{
      display: flex;
      flex-direction: column;
      gap: 16px;
      z-index: 999;
      .img{
        height: 160px;
        img{
          height: 100%;
        }
      }
      .input{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  .btns{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    .link{
      text-decoration: none;
      z-index: 999;
    }
    .prev{
      background-color: transparent;
      border: 1px solid #3B4252;
      color: #3B4252;
    }
  }
}

@media (max-width:850px) {
  .qwiz2-section{
    .cards{
      gap: 20px;
      .card{
        .img{
          height: 130px;
        }
      }
    }
  }
}
@media (max-width:676px) {
  .qwiz2-section{
    .cards{
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      .card{
        .img{
          height: 130px;
        }
      }
    }
    .btns{
      justify-content: center;
      .prev,.next{
        font-size: 14px;
        padding: 16px 25px;
      }
    }
  }
}
@media (max-width:450px) {
  .qwiz2-section{
    .cards{
      gap: 26px;
      .card{
        align-items: center;
        .img{
          height: 150px;
        }
      }
    }
    .btns{
      justify-content: center;
      gap: 10px;
      .prev,.next{
        font-size: 12px;
        padding: 12px 15px;
      }
    }
  }
}
@media (max-width:350px) {
  .qwiz2-section{
    .cards{
      gap: 26px;
      .card{
        align-items: center;
        .img{
          height: 150px;
        }
      }
    }
    .btns{
      justify-content: center;
      gap: 10px;
      .prev,.next{
        font-size: 11px;
        padding: 10px 12px;
      }
    }
  }
}