.qwiz2-section{
  padding: 0 20px 50px;
  .cards{
    display: flex;
    gap: 40px;
    .card{
      display: flex;
      flex-direction: column;
      gap: 16px;
      z-index: 999;
      .img{
        height: 160px;
        img{
          height: 100%;
        }
      }
      .input{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}