.services {
  padding: 80px 0;
  .services__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .services-bg {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }
  .services-list {
    width: 40%;
    z-index: 5;
    .services-list-item {
      transition: 0.4s;
      .list-item-txt {
        transition: 0.4s;
        display: none;
      }
      .list-item-title {
        font-size: 24px;
        cursor: pointer;
      }
    }
    .services-list-item-open {
      .list-item-txt {
        display: block;
      }
      .list-item-title {
        font-size: 30px;
        color: #45a6ff;
      }
    }
  }
  .services-img {
    z-index: 5;
    width: 45%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .services {
    .services-img {
      width: 50%;
    }
  }
}
@media (max-width: 900px) {
  .services {
    .services-img {
      width: 55%;
    }
    .services-list {
      .services-list-item {
        .list-item-title {
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .services {
    .services__container {
      flex-direction: column;
    }
    .services-bg {
      position: absolute;
      height: 600px;
      width: 400px;
      right: 0;
      top: 0;
    }
    .services-img {
      order: 1;
      width: 85%;
    }
    .services-list {
      order: 2;
      width: 80%;
      text-align: center;
    }
  }
}
@media (max-width: 500px) {
  .services {
    .services-img {
      width: 100%;
    }
    .services-list {
      width: 100%;
    }
  }
}
