.layout {
  display: grid;
  min-height: 100vh;

  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  overflow: hidden;
}

.header {
  z-index: 100;
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
