.qwiz6-section {
  padding: 0 20px 100px;
  z-index: 9;
<<<<<<< HEAD
  // transform: scale(1);
  max-width: 1490px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
=======
  transform: scale(1);
}
>>>>>>> caf05fc72d4b759816c8192b308e7c7e99da7b2f
