@import "../../styles/variables";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  color: $white;

  background-color: $bg-black;
}
