@import "../../styles/variables";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  padding-top: 250px;

  color: $white;

  background-image: url("../../assets/images/menu-pixels.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0 bottom 0;
}
