@import "../../styles/variables";

.burger {
  display: flex;
  align-items: center;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    color: $primary;

    .burger__icon {
      &::before {
        background-color: $primary;
      }

      &__line {
        margin: 2px 0;

        background-color: $primary;
      }

      &::after {
        background-color: $primary;
      }
    }
  }

  &:active {
    .burger__icon__line {
      margin: 1px 0;
    }
  }
}

.burger__text {
  margin-right: 11px;

  font-size: 22px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
}

.burger__status {
  width: 28px;
}

.burger__icon {
  display: grid;
  width: 28px;

  transition: height 0.2s ease;

  &::before {
    content: "";

    height: 3px;

    background-color: $black;
  }

  &__line {
    height: 3px;
    margin: 3px 0;

    background-color: $black;
  }

  &::after {
    content: "";

    height: 3px;

    background-color: $black;
  }
}

@media only screen and (max-width: 500px) {
  .burger__text {
    margin-right: 6px;

    font-size: 14px;
  }

  .burger__status {
    width: 22px;
  }

  .burger__icon {
    width: 22px;

    &::before {
      height: 2px;
    }

    &__line {
      height: 2px;
      margin: 2px 0;
    }

    &::after {
      height: 2px;
    }
  }

  .burger__close {
    width: 16px;
    height: 16px;
  }
}
